<!DOCTYPE html>
<html>
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
<body onload="onReady()">

<h1 style="text-align: center;">Edit Profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
     <form action="/profile/edit/<%= @profile.id%>" method="post">
      <%= token_tag %>
      <input type="text" name="profile[fname]" placeholder="Name Of FLAT/PG" value="<%= @profile.fname %>"><br>
      <input type="integer" name="profile[price]" value="<%= @profile.price %>"><br>
      <input type="text" name="profile[allowed]" value="<%= @profile.allowed %>"><br>
      <input type="text" name="profile[details]" value="<%= @profile.details %>"><br>
      <input type="text" name="profile[phone]" value="<%= @profile.phone %>"><br>
      <input type="text" name="profile[room_type]" value="<%= @profile.room_type %>"><br>
      <input type="text" name="profile[address]" value="<%= @profile.address %>"><br>
      
         <!-- <div id="locationField">  -->
         <input id="autocomplete" placeholder="Enter your address"
              type="text" onkeydown="prevententer(event);">
              <br>
        <input type="hidden" id="profile_lat" name="profile_lat" value="<%= @profile.latitude%>">

        <input type="hidden" id="profile_lng" name="profile_lng" value="<%= @profile.longitude%>">
 
        <br/> 
        Profile pic
      
        <span class="picture">
       <input type="hidden" id="profile_picture" name="profile_picture">
       </span> 
       <br>
       <input type="file" onchange="getfile()" id="photo">
       <progress value="0" id="uploader" max="100">0%</progress>
       <br/>
       <input type="submit" id="submit_profile" class="btn btn-primary">
 
      </form>
      



      
      <button id="submitBtngg" onclick="myfunction()" style="display: none;">submit</button>
      

    </div>
  </div>
 <!-- script to find lat lng -->
<script>
var x = document.getElementById("demo");
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(initMap);
    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}
function initMap(position){
  console.log("hello");
        var latt=position.coords.latitude;
        var lngg=position.coords.longitude;
        console.log(latt);
        console.log(lngg);
        var uluru = {lat: latt, lng: lngg};
       }
        

</script>

<script>
   
   var prevententer=function(event){
      if(event.keyCode==13){
        event.preventDefault();
      }
   }


   var placeSearch, autocomplete;
      function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(
            (document.getElementById('autocomplete')),
            {types: ['geocode']});
         autocomplete.addListener('place_changed', fillInAddress);
      }
      
      function fillInAddress() {
        var place = autocomplete.getPlace();
         var lat=place.geometry.location.lat();
         var lng=place.geometry.location.lng();
         initMap2(lat,lng);
        for (var component in componentForm) {
          document.getElementById(component).value = '';
          document.getElementById(component).disabled = false;
        }
        for (var i = 0; i < place.address_components.length; i++) {
          var addressType = place.address_components[i].types[0];
          if (componentForm[addressType]) {
            var val = place.address_components[i][componentForm[addressType]];
            document.getElementById(addressType).value = val;
          }
        }

      }
       function initMap2(latt,lngg) {
        console.log(latt);
        console.log(lngg);
        document.getElementById('profile_lat').value=latt;
        document.getElementById('profile_lng').value=lngg;
      } 
</script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaAUsx5VVCg_KBjhv38jeMNlz9qb8kuo4&libraries=places&callback=initAutocomplete"
        async defer>
        </script>
 

  
      <script src="https://www.gstatic.com/firebasejs/4.10.0/firebase.js"></script>
      <script type="text/javascript">
     
      function onReady(){
          var config = {
          apiKey: "AIzaSyARSLZERWUbOj9al-p6Z1GtZ2S4laaKujk",
          authDomain: "my-first-project-92a09.firebaseapp.com",
          databaseURL: "https://my-first-project-92a09.firebaseio.com",
          projectId: "my-first-project-92a09",
          storageBucket: "my-first-project-92a09.appspot.com",
          messagingSenderId: "954106895298"
        };
        firebase.initializeApp(config);
/*        navigator.geolocation.getCurrentPosition(showPosition);
*/      };
/*      function showPosition(position) {
          console.log(position.coords.latitude, position.coords.longitude);
      }*/
    </script>
    <script type="text/javascript">
       var selectedFile;
      function getfile()
      {
        console.log("hello");
          var pic = document.getElementById("photo");
          selectedFile = pic.files[0];
          console.log(selectedFile);
          document.getElementById('submit_profile').setAttribute('disabled','true');
          document.getElementById('submitBtngg').click();
      }
      function myfunction()
      {  

          var name = "<%= current_user.email%>";

          var storageRef = firebase.storage().ref('/images/'+ name);
          var uploadTask = storageRef.put(selectedFile);
          uploadTask.on('state_changed', function(snapshot){
            var progress = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
              var uploader = document.getElementById('uploader');
              uploader.value=progress;

              switch (snapshot.state) {
                case firebase.storage.TaskState.PAUSED: 
                  console.log('Upload is paused');
                  break;
                case firebase.storage.TaskState.RUNNING: 
                  console.log('Upload is running');
                  break;
              }
          }, function(error) {console.log(error);

          }, function() {
            var downloadURL = uploadTask.snapshot.downloadURL;
            console.log(downloadURL);
            document.getElementById('profile_picture').value=downloadURL;
            document.getElementById('submit_profile').removeAttribute('disabled');
          });

      };

      </script>


</body>
</html>