    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/navbar-custom2.css">
    <link rel="stylesheet" href="./css/master.css">
    <script type="text/javascript">
    var onclickk=function(event){
    filtersubmit=document.getElementById('filtersubmit');
       filtersubmit.click();
    console.log(event.target.getAttribute('id'));
   }
</script>

    <nav class="navbar navbar-custom nav">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">EasyFind</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav" style="margin: auto;">
            <div class="navbar-form navbar-right">
              <div class="form-group"><%= form_tag(profiles_path, :method => "get", id: "search-form") do %>
         <%= text_field_tag :search, params[:search], placeholder: "Search Flats/PG's" %>
         <%= submit_tag "Search", :name => nil %>
         <% end %>            </div>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="/profiles">Browse</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about">Developers</a></li>
              <% if !user_signed_in? %>
            <li><a href="/users/sign_in" id="list-your-pg-link">List your PG/Flat</a></li>
            <% else %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <%= current_user.name %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
               <li><%= link_to 'Sign out', destroy_user_session_path(:authenticity_token => form_authenticity_token()), method: 'delete' %></li>
              <li><a href="/profile">Create Profile</a></li>
              <% @temp = Profile.where('user_id=?', current_user.id ) %>
              <% @id=current_user.id %>
              <li><%= link_to 'edit profile', 'profile/edit/'+(@id.to_s) %></li>
              </ul>
            </li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container main-body">
      <div class="row no-gutters">

        <div class="col-md-3 col-lg-3 sidebar-container mt-4">
        <form action="/profiles/filter" id="filterform"  method="post" data-remote="true">    
         <%= token_tag %>
          <div class="sidebar-heading"><i class="fas fa-filter"></i> Sort and Filter</div> <hr>
          <ul class="list-group sort-ul">
            <li class="list-group-item sort-list-item list-group-item-header"><i class="fas fa-rupee-sign"></i> Sort by Price</li>
            <li class="list-group-item sort-list-item"><a class="text-dark" href="">Price low to high</a></li>
            <li class="list-group-item sort-list-item"><a class="text-dark" href="">Price hight to low</a></li>
          </ul>

          <ul class="list-group categories-ul">
            <li class="list-group-item list-group-item-header">
              <label class="form-check-label">
                <i class="fas fa-home"></i> Categories
              </label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input input-checkbox" type="checkbox" id="filter-flat" name="flat" value="1" onclick="onclickk(event)">
              <label class="form-check-label" for="defaultCheck1">
                Flat
              </label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input input-checkbox" type="checkbox" id="filter-pg" name="pg" value="1" onclick="onclickk(event)">
              <label class="form-check-label" for="defaultCheck2">
                PG
              </label>
            </li>
             <li class="list-group-item">
              <input class="form-check-input input-checkbox" type="checkbox">
              <label class="form-check-label" for="defaultCheck2">
                Both
              </label>
            </li>
          </ul>

          <ul class="list-group allowed-ul">
            <li class="list-group-item list-group-item-header">
              <label class="form-check-label">
                <i class="fas fa-user"></i> Allowed
              </label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input input-checkbox" type="checkbox"  id="filter-boys" name="boys" value="1" onclick="onclickk(event)">
              <label class="form-check-label" for="defaultCheck1">
                Boys
              </label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input input-checkbox" type="checkbox" id="filter-girls" name="girls" value="1" onclick="onclickk(event)">
              <label class="form-check-label" for="defaultCheck2">
                Girls
              </label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input input-checkbox" type="checkbox" id="filter-both" name="both" value="1" onclick="onclickk(event)">
              <label class="form-check-label" for="defaultCheck2">
                Both
              </label>
            </li>
            <!-- <li class="list-group-item">
              <input class="form-check-input input-checkbox" type="checkbox" value="" id="defaultCheck3">
              <label class="form-check-label" for="defaultCheck3">
                Both
              </label>
            </li> -->
          </ul>

          <ul class="list-group categories-ul">
            <li class="list-group-item list-group-item-header">
              <label class="form-check-label">
                <i class="fas fa-rupee-sign"></i> Price
              </label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input input-checkbox" type="checkbox" id="filter-1" name="I" value="1" onclick="onclickk(event)">
              <label class="form-check-label" for="defaultCheck1">
                Less than 5000
              </label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input input-checkbox" type="checkbox" id="filter-2" name="II" value="1" onclick="onclickk(event)">
              <label class="form-check-label" for="defaultCheck2">
                5000-8000
              </label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input input-checkbox" type="checkbox" id="filter-3" name="III" value="1" onclick="onclickk(event)">
              <label class="form-check-label" for="defaultCheck2">
                More than 8000
              </label>
            </li>
          </ul>
          <input type="submit" style="display: none;" id="filtersubmit">
         </form>
        </div>


        <div class="col-md-9 col-lg-9">

          <div class="row no-gutters p-3 mt-4">
            <div class="col-md-12">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb p-3">
                  <li class="breadcrumb-item active" aria-current="page">PGs and Flats</li>
                </ol>
              </nav>
            </div>
            <div id="profilecontainer">
            <% @profiles.each do |profile| %>
            <div class="col-md-6 col-sm-6 col-xs-12" align='middle'>
              <div class="card mb-10" style="width: 95%;">
                <!-- <img class="card-img-top" src="./home.jpg" height="180px" width="320px" alt="Card image cap"> -->
                <% if profile.picture!=""%>
                <div class="card-img-top" style="background-image: url('<%= profile.picture %>');"></div>
                <% else %>
                <div class="card-img-top" style="background-image: url('/default.jpg');"></div>
                <% end %>
                <div class="card-body text-left">
                  <ul class="list-group card-ul">
                    <li class="name list-group-item"><%= profile.fname %></li>
                    <li class="type list-group-item"><i class="fas fa-home"></i> <%= profile.room_type %></li>
                    <li class="address list-group-item"><i class="fas fa-map-marker"></i>  <%= profile.address %></li>
                    <li class="price pt-2 list-group-item"><i class="fas fa-rupee-sign"></i> <%= profile.price %></li>
                    <li class="phone list-group-item"><i class="fas fa-phone"></i> <%= profile.phone %></li>
                    <% user =  User.find(profile.user_id) %>
                    <li class="email list-group-item"><i class="fas fa-envelope"></i> <%= user.email %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <% end %>
          </div>
          </div>

          <!-- pagination -->
        <!--   <nav aria-label="...">
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav> -->
        </div>
      </div>
    </div>

    <!-- footer -->
    <footer class="footer">
      <div class="footer-text text-center">
        EasyFind 2018
      </div>
    </footer>
