<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116909790-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-116909790-1');
</script>

</head>
<style>
html{
  font-size: 16px;
}

.w-75{
  width: 75;
}
.p-2{padding: 10px;}
.p-3{padding: 15px;}
.p-4{padding: 20px;}

.pb-1{padding-bottom: 5px;}
.pb-2{padding-bottom: 10px;}

.m-4{
  margin: 20px;
}

.bg-light{background-color: #eee;}

label{
  font-weight: normal;
}

.sidebar-heading{
  font-size: 1.1rem;
}

.categories a{
  color: #555;
}

.card{
  border: 1px solid rgba(0,0,0,.125);
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card-header{
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
  padding: 0.65rem 1rem 0.3rem 1rem;
  border-bottom: 1px solid rgba(0,0,0,.125);
  word-wrap: break-word;
  background-color: rgba(0,0,0,.03);
}

.card-body{
  padding: 1rem;
}

.card-img-top{
  background-size: cover !important;
  padding: 0 !important;
  margin: 0 !important;
  height: 180px;
  width: 320px;
}

.cat-list-item{
  font-size: 0.9rem;
}

.filter-list-item{
  border: 0px;
}

.name{
  font-size: 1.5rem;
  color: #555;
}
.address{
  font-size: 12px;
  color: #999;
  margin-top: -0.3rem;
}
.price{
  font-size: 18px;
  color: #888;
}
</style>
<script type="text/javascript">
	var onclickk=function(event){
		filtersubmit=document.getElementById('filtersubmit');
       filtersubmit.click();
		console.log(event.target.getAttribute('id'));
	}
</script>
    <div class="container mt-3">
      <div class="row no-gutters">

        <div class="col-md-3 col-lg-3">
        <form action="/profiles/filter" id="filterform"  method="post" data-remote="true">		
  	<%= token_tag %>
          <div class="sidebar-heading">Sort</div><hr/>
          <ul class="list-group categories">
            <li class="list-group-item cat-list-item"><a class="text-dark" href="">Price low to high</a></li>
            <li class="list-group-item cat-list-item"><a class="text-dark" href="">Price hight to low</a></li>
          </ul>

          <br/>
          <div class="sidebar-heading">Filters</div><hr/>
          <div id="categories-accordion" role="tablist">
  					<div class="card">
  						<div class="card-header" role="tab" id="">
  							<p class="mb-0">
  								Categories
                  <a style="float:right;" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">&darr;</a>
  							</p>
  						</div>

  						<div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#categories-accordion">
                <div class="card-body">
                  <div class="form-check pb-2 pl-3">
                    <input class="form-check-input" type="checkbox" id="filter-flat" name="flat" value="1" onclick="onclickk(event)">
                    <label class="form-check-label" for="defaultCheck1">
                      Flat
                    </label>
                  </div>
                  <div class="form-check pb-2 pl-3">
                    <input class="form-check-input" type="checkbox" id="filter-pg" name="pg" value="1" onclick="onclickk(event)">
                    <label class="form-check-label" for="defaultCheck2">
                      PG
                    </label>
                  </div>
                  <div class="form-check pl-3">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck3">
                    <label class="form-check-label" for="defaultCheck3">
                      Both
                    </label>
                  </div>
                </div>
  						</div>
  					</div>
  				</div><br/>
             <div id="allowed-accordian" role="tablist">
  					<div class="card">
  						<div class="card-header" role="tab" id="">
  							<p class="mb-0 ">
  								Allowed
                  <a style="float:right;" data-toggle="collapse" href="#allowed" aria-expanded="true" aria-controls="allowed">&darr;</a>
  							</p>
  						</div>

  						<div id="allowed" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#allowed-accordian">
                <div class="card-body">
                  <div class="form-check pb-2 pl-3">
                    <input class="form-check-input" type="checkbox"  id="filter-boys" name="boys" value="1" onclick="onclickk(event)">
                    <label class="form-check-label" for="defaultCheck1">
                      Boys
                    </label>
                  </div>
                  <div class="form-check pb-2 pl-3">
                    <input class="form-check-input" type="checkbox" id="filter-girls" name="girls" value="1" onclick="onclickk(event)">
                    <label class="form-check-label" for="defaultCheck2">
                      Girls
                    </label>
                  </div>
                  <div class="form-check pl-3">
                    <input class="form-check-input" type="checkbox" id="filter-both" name="both" value="1" onclick="onclickk(event)">
                    <label class="form-check-label" for="defaultCheck3">
                      Both
                    </label>
                  </div>
                </div>
  						</div>
  					</div>
  				</div><br/>  
          <div id="price-accordian" role="tablist">
  					<div class="card">
  						<div class="card-header" role="tab" id="">
  							<p class="mb-0 ">
  								Price
                  <a style="float:right;" data-toggle="collapse" href="#price" aria-expanded="true" aria-controls="price">&darr;</a>
  							</p>
  						</div>

  						<div id="price" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#price-accordian">
                <div class="card-body">
                  <div class="form-check pb-2 pl-3">
                    <input class="form-check-input" type="checkbox"  id="filter-1" name="I" value="1" onclick="onclickk(event)">
                    <label class="form-check-label" for="defaultCheck1">
                      Less than 5000
                    </label>
                  </div>
                  <div class="form-check pb-2 pl-3">
                    <input class="form-check-input" type="checkbox" id="filter-2" name="II" value="1" onclick="onclickk(event)">
                    <label class="form-check-label" for="defaultCheck2">
                      5000-8000
                    </label>
                  </div>
                  <div class="form-check pl-3">
                    <input class="form-check-input" type="checkbox" id="filter-3" name="III" value="1" onclick="onclickk(event)">
                    <label class="form-check-label" for="defaultCheck3">
                      More than 8000
                    </label>
                  </div>
                </div>
  						</div>
  					</div>
  				</div><br/>
            <input type="submit" style="display: none;" id="filtersubmit">
         </form>
        </div>


        <div class="col-md-9 col-lg-9">

          <div class="row no-gutters p-3 mt-4">
            <div class="col-md-12">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb p-3">
                  <li class="breadcrumb-item active" aria-current="page">PGs and Flats</li>
                </ol>
              </nav>
            </div>
            <div id="profilecontainer">
            <% @profiles.each do |profile| %>
            <div class="col-md-6 col-sm-6 col-xs-12" align='middle'>
              <div class="card m-4" style="width: 80%;">
                <!-- <img class="card-img-top" src="./assets/images/home.jpg" height="180px" width="320px" alt="Card image cap"> -->
                <% if profile.picture!="" %>
                <div class="card-img-top" style="background: url('<%= profile.picture %>') no-repeat; height: 180px; width: 100%;"></div>
                <% else %>
                <div class="card-img-top" style="background: url('/default.jpg') no-repeat; height: 180px; width: 100%;"></div>
               <% end %>
                <div class="card-body text-left">
                  <h5 class="name"><%= profile.fname %></h5>
                  <div class="address"><%= profile.address %></div>
                  <h6 class="price pt-2"><%= profile.price %></h6>
                  <!-- <h6>Amenities</h6>
                  <p>To be added</p> -->
                </div>
              </div>
            </div>
            <% end %>
        </div>
          </div>
      </div>
  </div>
</div>

  <!-- appplying filters  -->
  <!-- <form action="/profiles/filter" id="filterform"  method="post" data-remote="true">		
  	<%= token_tag %>
  <div class="multiselect">
    <div class="selectBox" >
     
      	<select onclick="showCheckboxes()">
        <option >Sort acc. to price</option>
      </select>
         <div id="checkboxes" >
        <div class="form-check">
		<label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0" id="filter-I"> 
		<input type="checkbox" class="custom-control-input" id="filter-1" name="I" value="1" onclick="onclickk(event)">
		<span class="custom-control-indicator"></span>
	    <span class="custom-control-description">Less than 5000</span>
	    </label>
	    </div>
	    <div class="form-check">
		<label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0" id="filter-II"> 
		<input type="checkbox" class="custom-control-input" id="filter-2" name="II" value="1"  onclick="onclickk(event)">
		<span class="custom-control-indicator"></span>
	    <span class="custom-control-description">5000-8000</span>
	    </label>
	    </div>
	    <div class="form-check">
		<label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0" id="filter-III"> 
		<input type="checkbox" class="custom-control-input" id="filter-3" name="III" value="1" onclick="onclickk(event)">
		<span class="custom-control-indicator"></span>
	    <span class="custom-control-description">More than 8000</span>
	   </label>
	   </div>
	</div>
</div>
	   <div class="form-check">
		<label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0" id="filter-III"> 
		<input type="checkbox" class="custom-control-input" id="filter-flat" name="flat" value="1" onclick="onclickk(event)">
		<span class="custom-control-indicator"></span>
	    <span class="custom-control-description">FLAT</span>
	   </label>
	   </div>

       <div class="form-check">
		<label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0" id="filter-III"> 
		<input type="checkbox" class="custom-control-input" id="filter-pg" name="pg" value="1" onclick="onclickk(event)">
		<span class="custom-control-indicator"></span>
	    <span class="custom-control-description">PG</span>
	   </label>
	   </div>

    </div>
  </div>
<input type="submit" style="display: none;" id="filtersubmit">
</form>

<script type="text/javascript">
	var onclickk=function(event){
		filtersubmit=document.getElementById('filtersubmit');
       filtersubmit.click();
		console.log(event.target.getAttribute('id'));
	}
</script> -->
	<!--  -->
	
